<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>MapJournaling</title>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<script src='/assets/mapbox-gl.js'></script>
		<link href='/assets/mapbox-gl.css' rel='stylesheet' />
		<style>



#map {
	height: 300px;
	width: 300px;
	border: 2px black dotted;
}

h1 {
	text-decoration: underline dotted;
}


#map-text {
	font-family: monospace;
	width: 500px;
	height: 50px;
	border: 2px black dotted;
	font-size: 12px;
	text-align: center;
	vertical-align: top;
}

a:hover {
	text-decoration: underline dotted;
}

		</style>
	</head>
	<body>

		<h1 id="entry-name"></h1>
		<div id="map-text">
			<div id="map-text-coord">
				lat: <span id="lat"></span>, lng: <span id="lng"></span>
			</div>
			<div id="features">
				click to lock coords or try hovering over a point :)
			</div>
		</div>
		<div id='map'></div>


		<ol id="files">
		</ol>

		<form action="" enctype="multipart/form-data" method="post">
			<label for="lat">lat: </label>
			<input type="text" name="lat">
			<br/>

			<label for="lng">lng:</label>
			<input type="text" name="lng">
			<br/>

			<label for="file">add a file to your journal: </label>
			<input type="file" name="file">
			<br/>

			<input type="submit">
		</form>

		<script>

function entryName() {
	let path = window.location.pathname;
	if (path[path.length - 1] === '/') {
		path = path.slice(0, path.length - 1);
	}
	let idx = path.lastIndexOf('/');
	return path.slice(idx+1);
}

function entryPath() {
	let path = window.location.pathname;
	return path.slice("/users/".length);
}

async function files() {
	const req = await fetch(`/userdata/${entryPath()}/`)
	const res = await req.json();
	return res;
}

document.querySelector("#entry-name").innerText = unescape(entryName());

(async function() {
	const entriesEl = document.querySelector("#files");
	const arr = await files();
	for (let i = 0; i < arr.length; i++) {
		const a = document.createElement("a");
		a.href = `/userdata/${entryPath()}/${arr[i]}`;
		a.innerText = arr[i];

		const li = document.createElement("li");
		li.appendChild(a);

		entriesEl.appendChild(li);
	}
})()

var map = new mapboxgl.Map({
	container: 'map', // container id
	style: `http://localhost:8080/style/${entryPath()}`, // stylesheet location
	center: [-100, 40], // starting position [lng, lat]
	zoom: 1.5 // starting zoom
});

var state = {
	lockFeatures: false
};

map.on('mousemove', (e) => {
	const features = map.queryRenderedFeatures(e.point);
	if (!state.lockFeatures) {
		document.querySelector("#lat").innerText = e.lngLat.lat.toFixed(2);
		document.querySelector("#lng").innerText = e.lngLat.lng.toFixed(2);

		const els = [];

		for (let i = 0; i < features.length; i++) {
			const props = features[i].properties;
			if (!props.hasOwnProperty("asset_name")) {
				continue;
			}

			const el = document.createElement("a");
			el.href = `/userdata/${entryPath()}/${props.asset_name}`
			el.innerText = props.asset_name;
			els.push(el);
		}

		const featuresEl = document.querySelector("#features");
		if (els.length > 0) {
			featuresEl.innerHTML = "";
			for (let i = 0; i < els.length; i++) {
				featuresEl.appendChild(els.shift());
			}
		}
	}
});

map.on('mousedown', (e) => {
	state.lockFeatures = state.lockFeatures ? false : true;
});




		</script>
	</body>
</html>
